@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth box-border;
  }

  body {
    @apply font-Poppins scroll-smooth ease-in-out duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer components {
  .section {
    @apply w-full flex justify-center items-center;
  }
  .container {
    @apply h-full w-full max-w-[1440px] px-16;
  }
  .btn {
    /* apply btn styles here */
    @apply w-fit px-6 py-4 bg-main rounded-lg text-white font-normal hover:bg-main-dark ease-in-out duration-300 cursor-pointer;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #005eff;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0452d7;
  }
}
