@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth box-border;
  }

  body {
    @apply font-Poppins scroll-smooth ease-in-out duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer components {
  .section {
    @apply w-full flex justify-center items-center;
  }
  .section-container {
    @apply h-full w-full max-w-[1440px] px-16;
  }
  .btn {
    /* apply btn styles here */
    @apply w-fit px-[1.5rem] py-[1rem] bg-main rounded-lg text-white-1 font-normal hover:bg-main-dark ease-in-out duration-300 cursor-pointer flex justify-center items-center gap-2 hover:scale-[1.02];
  }
  .btn-2 {
    /* apply btn styles here */
    @apply w-fit px-[calc(1.5rem-2px)] py-[calc(1rem-2px)] bg-white-1 rounded-lg text-main font-medium hover:bg-main hover:text-white-1 border-2 hover:border-[2px] hover:border-main ease-in-out duration-300 cursor-pointer flex justify-center items-center gap-2 hover:scale-[1.02];
  }
  .header-subtitle {
    @apply font-medium text-main uppercase tracking-widest;
  }
  .header-title {
    @apply text-black-1 font-semibold text-5xl;
  }
  .header-desc {
    @apply font-normal text-grey-2 mt-2;
  }

  /* Custom Input Field */

  .input-wrapper {
    width: 100%;
  }

  .input-wrapper .input-data {
    height: 2.5rem;
    width: 100%;
    position: relative;
  }

  .input-wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid #d0d5de;
  }

  .input-data input:focus ~ label,
  .input-data input:valid ~ label {
    transform: translateY(-28px);
    font-size: 0.85rem;
    color: #005eff;
  }

  .input-wrapper .input-data label {
    position: absolute;
    bottom: 8px;
    left: 0;
    color: #757a89;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .input-wrapper .input-data .input-underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
  }

  .input-data .input-underline::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #005eff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .input-data input:focus ~ .input-underline::before,
  .input-data input:valid ~ .input-underline::before {
    transform: scaleX(1);
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #005eff;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0452d7;
  }
}
